---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <h1>Simple Budget Tracker</h1>
    <p>Currently available: {currentAmount}</p>
  </section>
  <section>
    <h2>Actions</h2>
    <button type="button">Spend money</button>
    <button type="button">Add money</button>
    <button type="button">See transaction list</button>
  </section>
  <section></section>
</BaseLayout>
