---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <p>Currently available: 0</p>
  </section>
  <section>
    <h2>Actions</h2>
    <button type="button">Spend money</button>
    <button type="button">Add money</button>
    <button type="button">See transaction list</button>
  </section>
</BaseLayout>

<style></style>
